:root{
    --color-blueish: #d5e7f8;
    --light-purple: #ac83ce91;
    --greyish: rgb(225, 225, 229)
}


body {
    display: grid;
    background-color: var(--greyish);
    grid-template-columns: repeat(6, 1fr);
    background-image: url(https://media2.giphy.com/media/d5PPYjcb3caPTHM3hv/giphy-downsized-large.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-image: url(https://static01.nyt.com/images/2014/12/11/technology/personaltech/11machin-illo/11machin-illo-articleLarge-v3.jpg?quality=75&auto=webp&disable=upscale);
    background-position: top, right;
    border: 3px solid black;
    text-align: center;
    grid-column: 2/6;
    margin: auto;
    opacity: 0.5;
    box-shadow: 0 2px 10px 1px black;
    height: 150px;
    grid-area: 2 / 2 / span 2 / span 3;
}
label {
    color: black;
    font-family: Georgia;
}
            
h1 {
    color: black;
    font-family: Georgia;
    font-size: 25px;
    text-shadow: 2px 2px white;
}

h3{
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    font-weight: normal;
}

p{
    text-align: center;
    font-family: Georgia;
    font-weight: lighter;
    font-size: 15px;
    
}

aside {
    grid-column: 5 / 6;
    text-align: center;
    margin-left: 15%;
    width: 200px;
    padding-block: 1.5%;
    margin-top: 90px;
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
    color:rgb(224, 224, 235)
    }

.button{
  border-radius: 20px;
  background: var(--color-blueish);
  font-family: Georgia;
  font-weight: bolder;
  text-shadow: 2px 2px white;
  box-shadow: 0 2px 10px 1px black;
}  
    
.view {
    background-color: rgb(224, 224, 235);
    text-align: center;
    margin-top: 20px;
    margin-left: 25px;
    border: 2px solid var(--color-blueish);
    box-shadow: 0 2px 10px 1px black;
    opacity: .8; 
    text-transform: capitalize;
   
}

main {
grid-column: 2 / 5;
} 
    
.days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    column-gap: 10px;
    row-gap: 10px;
    color:rgb(224, 224, 235)
    
}
        
.this {
display: none;

}  



footer{
    
    background: var(--color-blueish);
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height: 55px;
    text-align: center;
    opacity: .7; 

   
}



@media (min-width:768px) and (max-width:1279px) {
    main{
      width: 700px;
    }
    footer{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width:767px) {
    header {
      grid-template-columns: 1fr;
    }
    main {
      width:324px;
      grid-template-columns: 1fr;
    }
    footer{
      grid-template-columns: repeat(2, 1fr);
      padding: 25px;
      text-align: center;
      height: 55px;
      opacity: .7;

    }
  } 